<div id="main-aside">
  <div id="table-search" class="is-flex is-justify-content-space-between is-align-items-center pr-2 pt-1 pb-2" style="background-color: var(--bg-sidebar);">
    <div class="field has-addons mr-1 mb-0">
        <div class="control">
          <button class="button py-1 px-3" hx-get="/new_record?section={{section}}&panel={{panel}}" hx-target="#main-aside" hx-indicator="#progress-indicator" hx-include="#advanced-search-form">
            <span class="icon is-small">
              <i class="iconify" data-icon="mdi-text-box-plus"></i>
            </span>
          </button>
        </div>
        <div class="control">
          {% include 'record/main_new_menu.html' %}
        </div>
    </div>

    <div class="is-flex-grow-1 mr-2 dropdown is-block">
      <div class="field mb-0">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-mediumish is-rounded" type="search" placeholder="Search" name="search" id="search" {{ 'value=search' if search else ''}}
            hx-post="/records/table?section={{section}}&panel={{panel}}"
            hx-trigger="input changed delay:500ms, search"
            hx-indicator="#progress-indicator"
            hx-include="#advanced-search-form"
            hx-target="#main-table"/>
          <span class="icon is-small is-left"><i class="iconify" data-icon="mdi-magnify"></i></span>
            <span class="icon is-right dropdown-trigger is-clickable" aria-haspopup="true" aria-controls="dropdown-search">
              <i class="iconify" data-icon="mdi:tune-variant"></i>
            </span>

            <div class="dropdown-menu" id="dropdown-search" role="menu" style="width: 100%; padding-top: 0;">
              <div class="dropdown-content box shadow" style="border-radius: 8px; margin-top: 5px;">
                <div class="p-4">
                  {% include 'record/main_advance_search.html' %}
                </div>
              </div>
            </div>
        </div>
      </div> <!-- end field -->
    </div> <!-- end level item -->
    
    <div id="level_pagination">
      {% include 'record/pagination.html' %}
    </div>
  </div>

  <div id="main-table" class="container-flush p-2">
    {% include 'record/table.html' %}
  </div>
</div>
