<div id="pagination-table" class="pagination is-small is-right py-2" role="navigation" aria-label="pagination">
  <div class="pagination-list">
    <span class="px-2" style="white-space: nowrap;">{{pagination['first']}} - {{pagination['last']}} of {{num_records}}</span> 
    <span class="px-2" style="white-space: nowrap;">
    
    {% if pagination['prev'] %}
      {% if search %}
        <a hx-post="/records/table?last_search={{search}}&page={{pagination['prev']}}&section={{section}}&panel={{panel}}" hx-target="#main-table" hx-indicator="#progress-indicator" hx-include="#advanced-search-form" class="pagination-link"><i class="iconify" data-icon="mdi-chevron-left"></i></a>
      {% else %}
        <a hx-post="/records/table?page={{pagination['prev']}}&section={{section}}&panel={{panel}}" hx-target="#main-table" hx-indicator="#progress-indicator" hx-include="#advanced-search-form" class="pagination-link"><i class="iconify" data-icon="mdi-chevron-left"></i></a>
      {% endif %}
    {% else %}
        <a href="#" class="pagination-link" disabled><i class="iconify" data-icon="mdi-chevron-left"></i></a>
    {% endif %}

    
    {% if pagination['next'] %}
      {% if search %}
        <a hx-post="/records/table?last_search={{search}}&page={{pagination['next']}}&section={{section}}&panel={{panel}}" hx-target="#main-table" hx-indicator="#progress-indicator" hx-include="#advanced-search-form" class="pagination-link" aria-label="Goto page {{pagination['next']}}"><i class="iconify" data-icon="mdi-chevron-right"></i></a>
      {% else %}
        <a hx-post="/records/table?page={{pagination['next']}}&section={{section}}&panel={{panel}}" hx-target="#main-table" hx-indicator="#progress-indicator" hx-include="#advanced-search-form" class="pagination-link" aria-label="Goto page {{pagination['next']}}"><i class="iconify" data-icon="mdi-chevron-right"></i></a>
      {% endif %}
    {% else %}
      <a href="#" class="pagination-link" disabled><i class="iconify" data-icon="mdi-chevron-right"></i></a>
    {% endif %}
    </span>
  </div>
</div>
