{% for actiongroup in record.get_actions_files(status,current_actor,section,panel) %}
  
  {% for action in actiongroup.items %}
    <a class="dropdown-item m-0 {{ action.extra_class }} is-light"
      {% for attr in action.attr %}
        {% if attr in ['hx-get','hx-post'] %}
          {{ attr }}="{{ action.attr[attr] }}&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}"
        {% else %}
          {{ attr }}="{{ action.attr[attr] }}"
        {% endif %}
      {% endfor %}
    >
      {{ action.title }}
    </a>
  {% endfor %}

  {% if not loop.last %}
    <hr class="dropdown-divider p-0 m-0">
  {% endif %}

{% endfor %}

