{% for actiongroup in record.get_actions_files(status,current_actor,section,panel) %}
{% for action in actiongroup.items %}
    <a class="dropdown-item m-0 {{ action.extra_class }} is-light"
    {% for attr in action.attr %}
      {% if attr in ['hx-get','hx-post'] %}
        {{ attr }}="{{ action.attr[attr] }}&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}"
      {% else %}
        {{ attr }}="{{ action.attr[attr] }}"
      {% endif %}
    {% endfor %}
    >
    {{ action.title }}
  </a>
{% endfor %}
{% if not loop.last %}
<hr class="dropdown-divider p-0 m-0">
{% endif %}

{% endfor %}

<!-- Expandable Section -->
<div class="template-accordion">
  <div class="dropdown-item has-text-weight-bold is-light">
    New from Template...
  </div>
  <div class="template-items">
    <a class="dropdown-item pl-5" hx-get="/action?action=copy_template_ord&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}" hx-target="#row-{{record.id}}"><i class="iconify has-text-link mr-2" data-icon="mdi:file-word"></i> Ord</a>
    <a class="dropdown-item pl-5" hx-get="/action?action=copy_template_ord&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}" hx-target="#row-{{record.id}}"><i class="iconify has-text-link mr-2" data-icon="mdi:file-word"></i> Not Ord</a>
    <a class="dropdown-item pl-5" hx-get="/action?action=copy_template_ord&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}" hx-target="#row-{{record.id}}"><i class="iconify has-text-link mr-2" data-icon="mdi:file-word"></i> Ext</a>
    
    <hr class="dropdown-divider p-0 m-0">

    <a class="dropdown-item pl-5" hx-get="/action?action=copy_template_ord&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}" hx-target="#row-{{record.id}}"><i class="iconify has-text-link mr-2" data-icon="mdi:file-word"></i> Untitled</a>
    <a class="dropdown-item pl-5" hx-get="/action?action=copy_template_ord&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}" hx-target="#row-{{record.id}}"><i class="iconify has-text-success mr-2" data-icon="mdi:file-excel"></i> Untitled</a>
    <a class="dropdown-item pl-5" hx-get="/action?action=copy_template_ord&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}&loop_index={{loop.index}}" hx-target="#row-{{record.id}}"><i class="iconify has-text-warning mr-2" data-icon="mdi:file-powerpoint"></i> Untitled</a>

  </div>
</div>
