<div class="tags has-addons" style="flex-wrap: nowrap;">
  {% if record.files %}
    <span class="tag is-hoverable py-0 px-1">
      <a href="{{ record.files[0].link }}" 
        target="_blank" 
        title="{{record.files[0].name}}"
        class="">
        {{ record.files[0].html_icon | safe }}
      </a>
    </span>
  {% else %}
    <span class="iconify has-text-grey" data-icon="mdi-document"></span>
  {% endif %}

  <span class="tag is-hoverable py-0">
    <div class="dropdown {{ 'is-up' if loop.index >= 15 }} is-centered">
      <div class="dropdown-trigger" aria-haspopup="true" aria-controls="dropdown-{{ record.id }}">
        <span class="icon" style="position: relative; display: inline-flex; justify-content: center;">
          <span class="iconify has-text-warning" 
                data-icon="mdi:folder{{'-multiple' if record.references else ''}}"
                data-width="20">
          </span>
            
          <span class="iconify has-text-black" 
                data-icon="mdi:numeric-{{ '9-plus' if record.files|length > 9 else record.files|length }}" 
                data-width="20" 
                style="position: absolute; top: 10%; left: 0%;">
          </span>
        </span>
      </div>

      <div class="dropdown-menu" id="dropdown-{{ record.id }}" role="menu" style="width: auto; min-width: 20rem">
        <div class="dropdown-content">
          {% include 'record/record_files_files.html' %}
          <hr class="dropdown-divider">
          {% include 'record/record_files_actions.html' %}
        </div>
      </div>
    </div> <!-- End dropdown -->

  </span>
</div>

