{% if record.files %}
  {% for file in record.files %}
    <div class="dropdown-item is-flex is-align-items-center">
      <!-- Primary: File Link (Left) -->
      <a href="{{ file.link }}" 
         target="_blank" 
         class="is-align-items-center is-flex-grow-1"
         style="min-width: 0; text-decoration: none;"
         title="{{ file.name or '' }}">
        <span class="is-truncated">
          {{ file.html_name | safe }}
        </span>
      </a>

      <!-- Secondary: Action Icons (Right, near mouse) -->
      <div class="is-flex is-flex-shrink-0 file-actions ml-auto">
        <a class="icon is-small has-text-grey-light hover-action mx-1" title="Rename">
          <i class="iconify" data-icon="mdi:rename-outline"></i>
        </a>
        <a class="icon is-small has-text-grey-light hover-action-danger mx-1" title="Delete">
          <i class="iconify" data-icon="mdi:delete-outline"></i>
        </a>
        <a class="icon is-small has-text-grey-light hover-action mx-1" title="Sensitive">
          <i class="iconify" data-icon="mdi:shield-outline"></i>
        </a>
      </div>

    </div>
  {% endfor %}
{% else %}
  <div class="dropdown-item has-text-grey-light is-italic py-1 px-3">
    No files attached
  </div>
{% endif %}
