  {% if record.files %}
  <div  class="tag button p-0"
        style="width: 8rem; font-size: 0.8rem; justify-content: flex-start; padding-left: 0.5rem !important; background-color: inherit;">
    <a href="{{ record.files[0].link }}" 
       class="m-0 p-0" 
       target="_blank" onclick="markAsRead('{{ status.id }}')"
       style="text-decoration: none; color: inherit; width: 100%; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
      {{ record.files[0].html_name_short | safe }}
    </a>
  </div>
  {% endif %}
  <div class="field p-0 m-0">
    <div class="control p-0 m-0">
      <div class="dropdown is-right mr-4">
        <div class="dropdown-trigger">
          <button class="button-files button is-rounded is-small p-1" aria-haspopup="true" aria-controls="dropdown-{{ record.id }}" style="border: 0px;">
            <span class="p-0" style="position: relative;">
              <i class="iconify is-size-6 p-0 has-text-warning" data-icon="mdi-folder"></i>
              <span class="p-0" style="position: absolute; top: 15%; left: 15%; color: black; font-size: 0.6rem;">{{ record.files|length }}</span>
            </span>
            <span class="icon is-small p-0">
              <i class="iconify p-0" data-icon="mdi-chevron{{'-double' if record.references else ''}}-down"></i>
            </span>
          </button>
        </div>

        <div class="dropdown-menu" id="dropdown-{{ record.id }}" role="menu" style="width: auto; min-width: 25rem">
          <div class="dropdown-content" style="width: auto;">
            
            {% if record.files %}
              {% for file in record.files %}
                <a href="{{ file.link }}" class="dropdown-item m-0" target="_blank">
                  {{ file.html_name | safe }}
                </a>
              {% endfor %}
            {% else %}
              <div class="dropdown-item p-0 m-0">No files found</div>
            {% endif %}
            
            {% if record.references %}
            <hr class="dropdown-divider p-0 m-0">
            {% endif %}
            
            {% for reference in record.references %}
                <div class="dropdown-item has-text-grey m-0">{{ reference.protocol }} {{ reference.title }}</div>
                {% for file in reference.files %}
                  <a class="dropdown-item pl-4 py-1 m-0" target="_blank" href="{{ file.link }}">
                    {{ file.html_name | safe }}
                  </a>
                {% endfor %}
            {% endfor %}

            <hr class="dropdown-divider">
            <a  class="dropdown-item has-text-primary" 
                hx-get="/records/{{ record.id }}/add-file" 
                hx-target="#modals-here">
                  + Upload New
            </a>
          </div> <!-- End dropdown content -->
        </div> <!-- End dropdown-menu -->
      </div> <!-- dropdown -->
    </div> <!-- control -->
  </div> <!-- end has addons -->


