<th>
  <span class="iconify" data-icon="mdi-alert-octagram"></span>
</th>

<td>
  <span style="white-space: nowrap;">
    {{ record.protocol }}
  </span>
  {% for tag in record.tags %}
    <span class="tag">{{ tag.title }}</span>
  {% endfor %}

</td>

<td>
  <span class="tag is-danger">sm</span>
</td>

<td class="">
  <span class="is-4 {{ (status.read_status_html if status else 'has-text-weight-bold') if record.flow == 'inbound' else '' }}">{{ record.title }}</span>
  {% if record.flow == 'outbound' %}
    <span class="tag sender ml-1">{{ record.sender.alias }}</span>
  {% else %}
    {% for target in record.targets %}
      <span class="tag sender ml-1">{{ target.user.actor.alias }}</span>
    {% endfor %}
  {% endif %}
</td>

<td>
  <span class="">patata.odoc</span>
</td>

<td class="has-text-right" style="position: relative;">
  <span class="">{{ record.date }}</span>
  <div class="action-buttons is-flex is-align-items-center pl-6 pr-2">
    {% include 'record/table_row_actions.html' %}
  </div>
</td>
