{% for actiongroup in status.get_actions(record,current_user,section,panel) %}
  <span class="px-1">
    {% for action in actiongroup.items %}
      <button class="px-1 is-small has-tooltip-arrow" data-tooltip="{{ action.title }}"
              hx-get="{{action.hxget}}&record_id={{ record.id }}&recorduser_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}"
              hx-target="#row-{{record.id}}">
        <i class="iconify" data-icon="{{ action.icon }}"></i>
      </button>
    {% endfor %}
  </span>
{% endfor %}
