{% if record.unit %}
  {% if record.area != 'aes' %}
    <div class="tags-stack">
      <span class="tag is-top has-text-weight-bold has-text-black" style="background-color: {{ record.unit.color }}">{{ record.unit.alias }}</span>
      <span class="tag is-bottom has-text-weight-bold has-text-black" style="background-color: {{ record.area.value }};">{{ record.area.name.capitalize() }}</span>
    </div>
  {% else %}
    <span class="tag has-text-weight-bold has-text-black"
      style="width: 2em; background-color: {{record.unit.color}}; font-size:0.7em;">
      {{ record.unit.alias }}
    </span>
  {% endif %}
{% else %}
  <span class="tag has-text-weight-bold has-text-black" style="width: 2em; font-size: 0.7em;">-</span>
{% endif %}

