{% for actiongroup in record.get_actions(status,current_actor,section,panel,True) %}
  <span class="px-1">
    {% for action in actiongroup.items %}
      <button class="px-1 is-small has-tooltip-arrow" data-tooltip="{{ action.title }}"
        {% for attr in action.attr %}
          {% if attr in ['hx-get','hx-post'] %}
            {{ attr }}="{{ action.attr[attr] }}&record_id={{ record.id }}&recordactor_id={{ is_true(status,'id') }}&section={{section}}&panel={{panel}}"
          {% else %}
            {{ attr }}="{{ action.attr[attr] }}"
          {% endif %}
        {% endfor %}
      >
        <i class="iconify" data-icon="{{ action.icon }}"></i>
      </button>
    {% endfor %}
  </span>
{% endfor %}

