<div class="column is-narrow">
    <span class="iconify has-text-grey" data-icon="mdi-{{ record.stage_icon }}"></span>
</div>

<div class="column is-1">
  <span class="has-text-weight-semibold" style="white-space: nowrap;">
    {{ record.protocol }}
  </span>
</div>

<div class="column is-narrow">
    {% include 'record/table_row_unit.html' %}
</div>

<div class="column is-narrow">
  {{ record.avatar_html | safe}}
</div>

<div class="column position-relative">
  <span class="mr-2 {{ record.read_status_html(status,current_actor) if record.flow == 'inbound' else '' }}">
    {{ record.title }}
  </span>

  {% for tag in record.tags %}
    <span class="tag mx-0 is-hidden-mobile" style="font-size: 0.65rem;">{{ tag.title }}</span>
  {% endfor %}
  
  <div class="action-buttons is-hidden-mobile is-rounded">
    {% include 'record/table_row_actions.html' %}
  </div>
</div>
    
<div class="column is-1">
  {% include 'record/table_menu_actions.html' %}
</div>

<div class="column is-1">
  {% include 'record/record_files.html' %}
</div>

<div class="column is-1 is-hidden-mobile has-text-right" style="white-space: nowrap;">
  {{ record.date_html }}
</div>
