<div class="column is-one-fifth-desktop is-half-mobile has-order-1-mobile">
  <div class="is-flex is-align-items-center">
    <span class="iconify has-text-grey mr-2" data-icon="mdi-{{ record.stage_icon }}"></span>
    
    <span class="mr-2 has-text-weight-semibold" style="white-space: nowrap;">
      {{ record.protocol }}
    </span>
    
    {% for tag in record.tags %}
      <span class="tag mx-0 is-hidden-mobile" style="font-size: 0.65rem;">{{ tag.title }}</span>
    {% endfor %}
  </div>
</div>

<div class="column is-full-mobile has-order-3-mobile position-relative">
  <div class="is-flex is-align-items-center">
    {% if record.unit %}
      {% if record.area != 'aes' %}
        <div class="tags-stack mr-2">
          <span class="tag is-top has-text-weight-bold has-text-black" style="background-color: {{ record.unit.color }}">{{ record.unit.alias }}</span>
          <span class="tag is-bottom has-text-weight-bold has-text-black" style="background-color: {{ record.area.value }};">{{ record.area.name.capitalize() }}</span>
        </div>
      {% else %}
        <span class="tag has-text-weight-bold has-text-black mr-2"
          style="width: 2rem; min-width: 2rem; max-width: 2rem; background-color: {{record.unit.color}};">
          {{ record.unit.alias }}
        </span>

      {% endif %}
          {% else %}
      <span class="tag has-text-weight-bold has-text-black mr-2" style="width: 2rem;">-</span>
    {% endif %}

    <span class="mr-2 {{ record.read_status_html(status,current_actor) if record.flow == 'inbound' else '' }}">
      {{ record.title }}
    </span>

    {% if record.flow == 'outbound' %}
      <span class="tag sender ml-2 is-hidden-mobile">{{ record.sender.alias }}</span>
    {% else %}
      {% with current_target = record.current_target_sequence %}
        {% for target in record.targets %}
          {% set target_class = 'target' if record.stage == 'sketch' else 'target-success' if target.handled == 'approved' else ('target-current' if target.target == current_target else 'target') %}
          <span class="tag {{ target_class }} mr-1 is-hidden-mobile px-1 py-0">{{ target.actor.alias }}</span>
        {% endfor %}
      {% endwith %}
    {% endif %}
  </div>
  
  <div class="action-buttons is-hidden-mobile is-rounded">
    {% include 'record/table_row_actions.html' %}
  </div>
</div>

<div class="column is-one-fifth-desktop is-half-mobile has-order-2-mobile position-relative">
  <div class="is-flex is-justify-content-space-between is-align-items-center">
    
    <div class="is-flex is-align-items-center">
      {% include 'record/table_menu_actions.html' %}
      {% include 'record/record_files.html' %}
    </div>

    <div class="ml-2" style="white-space: nowrap;">
      {{ record.date }}
    </div>

  </div> 
</div>
