<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Status">#</abbr></th>
      <th><abbr title="Department">Dep</abbr></th>
      <th><abbr title="Protocol">Pro</abbr></th>
      
      <th class="is-full">Title</th>
      <th class="has-text-right">Date</th>
    </tr>
  </thead>
  <tbody class="" style="width: 100%;">
  {% for record, status in records %}
   <tr id="row-{{record.id}}" class="hover-row" style="width: 100%;">
    {% include 'record/table_row.html' %}
   </tr>
  {% endfor %}
  </tbody>
</table>
