<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Status">#</abbr></th>
      <th><abbr title="Protocol">Pro</abbr></th>
      <th><abbr title="Department">Dep</abbr></th>
      
      <th class="is-full">Title</th>
      <th><abbr title="Assigned to"></abbr></th>
      <th>Files</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {% for record, status in records %}
  <tr id="row-{{record.id}}" class="hover-row">
    {% include 'record/table_row.html' %}
  </tr>
  {% endfor %}
  </tbody>
</table>
