<aside class="menu p-2">
{% for group in sidebar['panel'] %}
  <p class="menu-label has-text-weight-bold mb-0">{{group['title']}}</p>
  <ul class="menu-list">

  {% for item in group.items %}
    <li class="">
      <a  class="menu-link is-inline-flex is-justify-content-space-between is-align-items-center {{ item.active }}" 
          href="{{ item.link }}">
        <span>
          <i class="iconify" data-icon="{{ item.icon }}"></i>
          {{ item.title }}
        </span>
        {% if item.show_count %}
        <div  hx-get="/records/number?section={{section}}&panel={{item.id}}"
            hx-trigger="load"
            hx-indicator="#progress-indicator">
        </div>
        {% endif %}
      </a>
    </li>
  {% endfor %}

  </ul>
{% endfor %}
</aside>
