<div id="logo-search" class="mb-1">
  <!-- Here logo -->
  <div class="item is-flex is-justify-content-space-between px-2 pt-1 pb-2" style="width: 100%;">
    <img class="logo" src="{{ url_for('static', path='icons/sake_long.svg') }}" alt="logo" />
    <!--
    <button class="button is-ghost"  onclick="togglePanel()">
      <i class="iconify" data-icon="mdi-post-outline"></i>
    </button>
    -->
    <a class="button has-tooltip-arrow has-tooltip-left flex-shrink"
      hx-get="/settings?section={{section}}&panel={{panel}}"
      hx-target="#modal-content-target"
      onclick="openModal()"
      title="Settings">
      <i class="iconify" data-icon="mdi:cog"></i>
    </a>

  </div>

  {% if actor_role != 'cl' %}
  <!-- Here universal search bar -->
  <div id="global-search" class="item px-2" style="width: 100%;">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input is-mediumish is-rounded" type="search" placeholder="Global search" name="all_search" id="all_search"
          hx-post="/global_search?section={{section}}&panel={{panel}}"
          hx-trigger="input changed delay:500ms, search"
          hx-target="#main-table"/>
          <span class="icon is-small is-left"><i class="iconify" data-icon="mdi-magnify"></i></span>
      </p>
    </div>
  </div>
  {% endif %}
</div>

<div id="sidebar-top_control_menu">
  <div id="sidebar-top_control" class="sidebar-top_control">
    {% include 'sidebar/sidebar-top_control.html' %}
  </div>

  <div id="sidebar-top_menu">
    {% include 'sidebar/sidebar-top_menu.html' %}
  </div>
</div>
