<aside class="menu p-2">
{% for group in sidebar['panel'] %}
  <p class="menu-label has-text-weight-bold mb-0">{{_(group['title'])}}</p>
  <ul class="menu-list">

  {% for item in group.items %}
    <li class="">
      <a  class="menu-link is-inline-flex is-justify-content-space-between is-align-items-center {{ item.active }}" 
          href="{{ item.link }}">
        <span>
          <i class="iconify" data-icon="{{ item.icon }}"></i>
          {{_(item.title)}}
        </span>
        {% if item.show_count %}
          {% if section == 'sccr' %}
            <div  hx-get="/sccr/number?section={{section}}&panel={{item.id}}"
              hx-trigger="load{{item.hx_trigger}}"
              hx-indicator="#progress-indicator">
            </div>
          {% else %}
            <div  hx-get="/records/number?section={{section}}&panel={{item.id}}"
              hx-trigger="load{{item.hx_trigger}}"
              hx-indicator="#progress-indicator">
            </div>
          {% endif%}
        {% endif %}
      </a>
    </li>
  {% endfor %}

  </ul>
{% endfor %}
</aside>
