
  <div id="global-search" hx-swap-oob="true" class="item px-2" style="width: 100%;">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input is-mediumish is-rounded" type="search" placeholder="Global search"
          name="all_search" id="all_search" value="{{search}}"
          hx-post="/global_search?section={{section}}&panel={{panel}}"
          hx-trigger="input changed delay:500ms, search"
          hx-target="#main-table"/>
          <span class="icon is-small is-left"><i class="iconify" data-icon="mdi-magnify"></i></span>
      </p>
    </div>
  </div>


<div id="sidebar-top_control_menu" hx-swap-oob="true">
  <div id="sidebar-top_control" class="sidebar-top_control">
    {% include 'sidebar/sidebar-top_control.html' %}
  </div>
  
  <div id="sidebar-top_menu">
    {% include 'sidebar/sidebar-top_menu.html' %}
  </div>
</div>

{% include 'record/columns/table_pagination.html' %}
