<div class="cell is-col-span-2 is-flex is-justify-content-space-between is-align-content-center">
  <span class="" style="white-space: nowrap;">
    <span class="iconify" data-icon="mdi-{{ record.stage_icon }}"></span>

    {% if record.dept %}
      <span class="tag is-bold has-text-black p-1 mx-4 my-0" style="width: 2rem; background-color: {{record.dept.color}};">
        {{ record.dept.alias }}
      </span>
    {% else %}
      <span class="tag is-bold has-text-black p-1 mx-4 my-0" style="width: 2rem;">
        -
      </span>
    {% endif %}

    <span class="" style="white-space: nowrap;">
      {{ record.protocol }}
    </span>
  </span>
</div> <!-- End cell -->

<div class="cell is-col-span-4" style="position: relative;">
  <div class="">
    <span class="{{ (status.read_status_html if status else 'has-text-weight-bold') if record.flow == 'inbound' else '' }}">
      {{ record.title }}
    </span>
    {% if record.flow == 'outbound' %}
      <span class="tag sender ml-1">{{ record.sender.alias }}</span>
    {% else %}
      {% for target in record.targets %}
        <span class="tag sender ml-1">{{ target.user.actor.alias }}</span>
      {% endfor %}
    {% endif %}
  </div>
  
  <div class="action-buttons is-flex is-align-items-up" style="white-space: nowrap;">
    {% include 'record/columns/table_row_actions.html' %}
  </div>

</div> <!-- End column -->

<div class="cell">
  <div class="field has-addons p-0 m-0">
    <div class="control p-0 m-0">
      {% if record.files %}
      <a class="button is-small p-1" href="https://nas.prome.sg:5001/oo/r/{{ record.files[0].permanent_link }}" style="border: 0px; width: 9rem; text-align: left;">
        {{ record.files[0].html_name | safe }}
      </a>
      {% else %}
      <a class="button is-rounded is-small p-1" href="#" style="border: 0px; width: 9rem; text-align: left;">
        <span class="text-danger">No files found</span>
      </a>

      {% endif %}
    </div>

    <div class="control p-0 m-0">
      <div class="dropdown is-hoverable mr-4">
        <div class="dropdown-trigger">
          <button class="button is-rounded is-small p-1" aria-haspopup="true" aria-controls="dropdown-{{ record.id }}" style="border: 0px;">
            <div class="p-0" style="position: relative;">
              <i class="iconify is-size-6 p-0 has-text-warning" data-icon="mdi-folder"></i>
              <span class="p-0" style="position: absolute; top: 15%; left: 15%; color: black; font-size: 0.6rem;">{{ record.files|length }}</span>
            </div>
            <span class="icon is-small p-0">
              <i class="iconify p-0" data-icon="mdi-chevron{{'-double' if record.references else ''}}-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>

        <div class="dropdown-menu" id="dropdown-{{ record.id }}" role="menu" style="width: auto; min-width: 40rem">
          <div class="dropdown-content" style="width: auto;">
            {% if record.files %}
              {% for file in record.files %}
                <a href="https://nas.prome.sg:5001/oo/r/{{ file.permanent_link }}" class="dropdown-item" target="_blank">
                  {{ file.html_name | safe }}
                </a>
              {% endfor %}
            {% else %}
              <div class="dropdown-item">No files found</div>
            {% endif %}
            <hr class="dropdown-divider">
            {% for reference in record.references %}
                <div class="dropdown-item has-text-grey">{{ reference.protocol }} {{ reference.title }}</div>
                {% for file in reference.files %}
                  <a class="dropdown-item" target="_blank" href="https://nas.prome.sg:5001/oo/r/{{ file.permanent_link }}">
                    {{ file.html_name | safe }}
                  </a>
                {% endfor %}
            {% endfor %}

            <hr class="dropdown-divider">
            <a  class="dropdown-item has-text-primary" 
                hx-get="/records/{{ record.id }}/add-file" 
                hx-target="#modals-here">
                  + Upload New
            </a>
          </div> <!-- End dropdown content -->
        </div> <!-- End dropdown-menu -->
      </div> <!-- dropdown -->
    </div> <!-- control -->
  </div> <!-- end has addons -->

</div> <!-- End cell -->

<div class="cell has-text-right">
  <span class="">{{ record.date }}</span>
</div>


