/* Default / Light Theme */
:root {
  --sidebar-color: #000000;
  --sidebar-background: #bfbfbf;
  --sidebar-color-hover: #eeeeee;
  --sidebar-background-hover: #666666;
  --sidebar-background-active: hsl(229, 53%, 53%);
}

/* Dark Theme */
[data-theme="dark"] {
  --sidebar-color: #ffffff;
  --sidebar-background: #131313;
  --sidebar-color-hover: #111111;
  --sidebar-background-hover: #afafaf;
  --sidebar-background-active: var(--bulma-link);
}

html, body {
  height: 100%;
}

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.translate-center { left:50%; top:50%; transform: translate(-50%,-50%); }

.logo {
  height: 2em;
  vertical-align: bottom; /* align with text baseline */
  display: inline-block;
}

.sender {
  font-size: 0.65rem;
  background-color: transparent;
  border: 1px dashed var(--sidebar-background-hover);
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center; /* horizontal centering */
}
/* custom size between small and medium */
.input.is-mediumish {
  font-size: 0.85rem;      /* adjust */
  border-radius: 4px;      /* match Bulma if desired */
}

.sidebar {
  height: 100vh; /* Full viewport height */
  position: sticky;
  top: 0;
  background-color: var(--sidebar-background);
}

.sidebar-top {
  flex-grow: 1;    /* This takes up all available space */
  /*overflow-y: visible; auto Allows the top part to scroll if it's too long */
  max-width: 12em;
  min-width: 10em;
}

.sidebar-bottom {
}

nav.pagination a {
  color: var(--sidebar-color);
}

.top-level { 
  color: var(--sidebar-color);
  background-color: var(--sidebar-background);
}

nav.pagination,
dev.hero-settings,
div.hero-search, {
  color: var(--sidebar-color);
  background: var(--sidebar-background);
}

.menu .menu-link {
  color: var(--sidebar-color);
  background: transparent;
}

.menu .menu-link.is-active,
.menu .menu-link.is-active:hover,
.menu .menu-link.is-active:focus {
  background-color: var(--sidebar-background-active);
}

/* hover state */
.menu .menu-link:hover {
  background-color: var(--sidebar-background-hover);
  color: var(--sidebar-color-hover);
}



/* keep hover/active styles by matching Bulma's states */
nav.sidebar-panel .menu a:hover,
nav.sidebar-panel .menu a.is-hovered {
  color: var(--sidebar-color-hover);
  background: var(--sidebar-background-hover);
}

nav.sidebar-panel .menu .menu-link a.is-active,
nav.sidebar-panel .menu .menu-link a.is-active:hover {
  color: #fff;                /* active */
  background: var(--sidebar-background-active);
}


.sidebar-section {
  font-size: 1.2em;
}

nav.sidebar-section .item a.is-active:focus,
nav.sidebar-section .item a.is-active:hover,
nav.sidebar-section .item a.is-active {
  background: var(--sidebar-background-active) !important;
  background-color: var(--sidebar-background-active) !important;
}

.icon-bordered {
  border: 1px solid currentColor;
  border-radius: 0.1rem;
  padding: 1.25rem;
}

.columns.no-stack {
  flex-wrap: nowrap;
}
.columns.no-stack .column {
  min-width: 0; /* prevents overflow from forcing wrap */
}

.box.no-border {
  box-shadow: none !important;
  border: 1px solid currentColor;
}
