/* Default / Light Theme */
:root {
  --sidebar-color: #000000;
  --sidebar-background: #bfbfbf;
  --sidebar-color-hover: #eeeeee;
  --sidebar-background-hover: #666666;
  --sidebar-background-active: hsl(229, 53%, 53%);
  --records-hidden-row: #000000;
}

/* Dark Theme */
[data-theme="dark"] {
  --sidebar-color: #ffffff;
  --sidebar-background: #131313;
  --sidebar-color-hover: #111111;
  --sidebar-background-hover: #afafaf;
  --sidebar-background-active: var(--bulma-link);
  --records-hidden-row: #FFFFFF;
}

html, body {
  height: 100%;
}

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.translate-center { left:50%; top:50%; transform: translate(-50%,-50%); }

.logo {
  height: 2em;
  vertical-align: bottom; /* align with text baseline */
  display: inline-block;
}

.sender {
  font-size: 0.65rem;
  background-color: transparent;
  border: 1px dashed var(--sidebar-background-hover);
}

.truncate {
  white-space: nowrap;        /* keep single line */
  overflow: hidden;           /* hide overflow */
  text-overflow: ellipsis;    /* show "..." */
}

/* 1. Hide the buttons by default */
.action-buttons {
  visibility: hidden;
  opacity: 1;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  white-space: nowrap;
  display: inline-block;
  top: 0%;
  right: 0%;
  background-color: var(--bulma-table-row-hover-background-color);
}

.hidden-row {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--bulma-table-row-hover-background-color);
}

.hover-row {
    transition: background-color 0.2s ease;
    cursor: pointer; /* Makes it feel interactive */
}

.hover-row:hover {
    background-color: var(--bulma-table-row-background-color); /* Light grey hover effect */
}

/* 2. Show them when the row (tr) is hovered */
.hover-row:hover .hidden-row,
.hover-row:hover .action-buttons {
  transform: translateY(0);
  max-height: 500px;
  visibility: visible;
  opacity: 1;
}

.hover-row:hover .behind-buttons {
  visibility: hidden;
  opacity: 1;
}

/* custom size between small and medium */
.input.is-mediumish {
  font-size: 0.85rem;      /* adjust */
  border-radius: 4px;      /* match Bulma if desired */
}

.sidebar {
  height: 100vh; /* Full viewport height */
  position: sticky;
  top: 0;
  background-color: var(--sidebar-background);
}

.sidebar-top {
  flex-grow: 1;    /* This takes up all available space */
  /*overflow-y: visible; auto Allows the top part to scroll if it's too long */
  max-width: 12em;
  min-width: 10em;
}

.sidebar-bottom {
}

nav.pagination a {
  color: var(--sidebar-color);
}

.top-level { 
  color: var(--sidebar-color);
  background-color: var(--sidebar-background);
}

nav.pagination,
dev.hero-settings,
div.hero-search, {
  color: var(--sidebar-color);
  background: var(--sidebar-background);
}

.menu .menu-link {
  color: var(--sidebar-color);
  background: transparent;
}

.menu .menu-link.is-active,
.menu .menu-link.is-active:hover,
.menu .menu-link.is-active:focus {
  background-color: var(--sidebar-background-active);
}

/* hover state */
.menu .menu-link:hover {
  background-color: var(--sidebar-background-hover);
  color: var(--sidebar-color-hover);
}



/* keep hover/active styles by matching Bulma's states */
nav.sidebar-panel .menu a:hover,
nav.sidebar-panel .menu a.is-hovered {
  color: var(--sidebar-color-hover);
  background: var(--sidebar-background-hover);
}

nav.sidebar-panel .menu .menu-link a.is-active,
nav.sidebar-panel .menu .menu-link a.is-active:hover {
  color: #fff;                /* active */
  background: var(--sidebar-background-active);
}


.sidebar-section {
  font-size: 1.2em;
}

nav.sidebar-section .item a.is-active:focus,
nav.sidebar-section .item a.is-active:hover,
nav.sidebar-section .item a.is-active {
  background: var(--sidebar-background-active) !important;
  background-color: var(--sidebar-background-active) !important;
}

.icon-bordered {
  border: 1px solid currentColor;
  border-radius: 0.1rem;
  padding: 1.25rem;
}

.columns.no-stack {
  flex-wrap: nowrap;
}
.columns.no-stack .column {
  min-width: 0; /* prevents overflow from forcing wrap */
}

.box.no-border {
  box-shadow: none !important;
  border: 1px solid currentColor;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* The container for the content you want to reveal */
.expandable-content {
    max-height: 0;          /* Collapsed by default */
    opacity: 0;             /* Invisible by default */
    overflow: hidden;       /* Hide the 'extra' content */
    transition: all 0.2s ease-in-out; /* Smooth sliding effect */
}

/* When the parent (the row or box) is hovered. Changing :hover for .is-active I change hover for click */
.hover-box:hover .expandable-content {
    max-height: 500px;      /* Large enough to fit any content */
    opacity: 1;             /* Fade in */
    margin-top: 10px;       /* Spacing when expanded */
    transition-delay: 0.6s;
}

/* Optional: Subtle lift effect on the box itself */
.hover-box {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-bottom: 1px solid #eee;
}

.hover-box:hover {
    background-color: var(--sidebar-background);
}

.tag.dropdown-trigger:hover {
    filter: brightness(90%);
    cursor: pointer;
}

/* Allow the dropdown to be visible outside the cell */
.table-container, 
.table td, 
.table th {
  overflow: visible !important;
}

/* Ensure the dropdown menu stays on top of other rows */
.dropdown.is-active {
  z-index: 20;
}
