.logo {
  height: 2em;
  vertical-align: bottom; /* align with text baseline */
  display: inline-block;
}

.sidebar {
  height: 100vh; /* Full viewport height */
  position: sticky;
  top: 0;
  background-color: var(--bg-sidebar);
}

.sidebar-top {
  flex-grow: 1;    /* This takes up all available space */
  /*overflow-y: visible; auto Allows the top part to scroll if it's too long */
  max-width: 12em;
  min-width: 10em;
}

.sidebar-bottom {
}

.is-main-sidebar {
    transition: transform 0.3s ease;
    z-index: 10; /* Ensure it's on top when shown */
}

.is-main-sidebar.is-active {
    transform: translateX(0); /* Show the sidebar */
}

.is-main-content.is-darkened {
    filter: brightness(0.7); /* Darken the main content */
}

@media (min-width: 1024px) {
    .is-main-sidebar {
        left: 0;
        transform: translateX(0); /* Sidebar is visible on desktop */
    }
}

@media (max-width: 1024px) {
    .is-main-sidebar {
        right: 0;
        transform: translateX(100%); /* Initially hide the sidebar */
        position: absolute; /* Allows it to overlay content in mobile view */
    }
}

.menu .menu-link {
  color: var(--text-sidebar);
  background: transparent;
}

.menu .menu-link.is-active,
.menu .menu-link.is-active:hover,
.menu .menu-link.is-active:focus {
  background-color: var(--bg-sidebar-active);
}

/* hover state */
.menu .menu-link:hover {
  background-color: var(--bg-sidebar-hover);
  color: var(--text-sidebar-hover);
}

/* keep hover/active styles by matching Bulma's states */
nav.sidebar-panel .menu a:hover,
nav.sidebar-panel .menu a.is-hovered {
  color: var(--text-sidebar-hover);
  background: var(--bg-sidebar-hover);
}

nav.sidebar-panel .menu .menu-link a.is-active,
nav.sidebar-panel .menu .menu-link a.is-active:hover {
  background: var(--bg-sidebar-active);
}

.sidebar-section {
  font-size: 1.2em;
}

nav.sidebar-section .item a.is-active:focus,
nav.sidebar-section .item a.is-active:hover,
nav.sidebar-section .item a.is-active {
  background: var(--bg-sidebar-active) !important;
  background-color: var(--bg-sidebar-active) !important;
}


