<form class="custom-card p-5" hx-post="/modify_record{{'_cl' if section == 'cl' else ''}}?record_id={{record.id}}&loop_index={{loop.index}}&section={{section}}&panel={{panel}}" hx-target="#row-{{record.id}}" method="POST">
    <div class="level mb-5">
        <div class="level-left">
            <div>
                <h2 class="title is-4 mb-0">My tags</h2>
            </div>
        </div>
        <div class="level-right">
            <div class="buttons">
                <button type="button" class="button is-light" onclick="closeModal()">Cancel</button>
                <button class="button is-link" name="submit_form" value="save_tags" onclick="closeModal()">
                    <span class="iconify mr-1" data-icon="mdi-content-save"></span> Save
                </button>
            </div>
        </div>
    </div>
    <div class="field mb-5">
        <label class="label">Due Date</label>
        <div class="control">
            <input class="input" type="date" name="due_date" value="{{ status.due_date }}">
        </div>
    </div>

    
    <div class="checkbox-list">
    {% for tag in tags %}
        <div class="panel-block compact-target">
            <label class="target-label">
            <input type="checkbox" name="actor_tags" value="{{ tag }}" 
               class="target-checkbox"
               {{ 'checked' if tag in checked_tags }}>
              <span class="is-flex-grow-1">{{ tag }}</span>
            </label>
        </div>
    {% endfor %}
    </div>

</form>
