<form class="custom-card p-5" action="/settings?actor_id={{ actor.id }}" method="POST">
    <div class="level mb-5">
        <div class="level-left">
            <div>
                <h2 class="title is-4 mb-0">Edit User: {{ actor.full_name }}</h2>
            </div>
        </div>
        <div class="level-right">
            <div class="buttons">
                <button type="button" class="button is-light" onclick="closeModal()">Cancel</button>
                
                <button class="button is-link" name="submit_form" value="save" onclick="closeModal()">
                    <span class="iconify mr-1" data-icon="mdi-content-save"></span> Save
                </button>
            </div>
        </div>
    </div>

    <div class="columns is-variable">
        <div class="column is-7">
            
            <div class="columns is-multiline is-mobile">
                <div class="column is-6">
                    <label class="label is-small">Role</label>
                    <div class="select is-fullwidth">
                        <select name="actor_kind">
                            <option value="dr" {{ 'selected' if settings['kind'] == 'dr' }}>Director cr</option>
                            <option value="of" {{ 'selected' if settings['kind'] == 'of' }}>Official cr</option>
                            <option value="cl" {{ 'selected' if settings['kind'] == 'cl' }}>Member cl</option>
                        </select>
                    </div>
                </div>
                <div class="column is-6">
                    <label class="label is-small">Status</label>
                    <div class="field mt-2">
                        <label class="checkbox">
                            <input type="checkbox" name="is_active" {{ 'checked' if actor.is_active else '' }} class="mr-2">
                            Is active
                        </label>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <div class="columns">
                <div class="column is-4">
                    <label class="label is-small">Permissions</label>
                    <div class="field">
                        <label class="checkbox is-block mb-1">
                            <input type="checkbox" name="perm_admin" {{ 'checked' if 'admin' in settings['scopes'] else '' }}> admin
                        </label>
                        <label class="checkbox is-block mb-1">
                            <input type="checkbox" name="perm_sccr" {{ 'checked' if 'sccr' in settings['scopes'] else '' }}> sccr
                        </label>
                        <label class="checkbox is-block mb-1">
                            <input type="checkbox" name="perm_despacho" {{ 'checked' if 'despacho' in settings['scopes'] else '' }}> Despacho
                        </label>
                        <label class="checkbox is-block">
                            <input type="checkbox" name="perm_permanent" {{ 'checked' if 'permanent' in settings['scopes'] else '' }}> Permanent
                        </label>
                    </div>
                </div>

                <div class="column is-4">
                    <label class="label is-small">User Settings</label>
                    {% for key, value in settings['settings'].items() %}
                        <div class="field">
                            {% if value['type'] == 'str' or value['type'] == 'int' %}
                                <label class="label is-small">{{ key|capitalize }}</label>
                                <input class="input" type="text" name="setting_{{ key }}" value="{{ actor.get_setting(key) }}">
                            {% elif value['type'] == 'bool' %}
                                <label class="checkbox">
                                    <input type="checkbox" name="setting_{{ key }}" {{ 'checked' if actor.get_setting(key) else '' }}>
                                    {{ key|capitalize }}
                                </label>
                            {% elif value['type'] == 'select' %}
                                <label class="label is-small">{{ key|capitalize }}</label>
                                <div class="select is-fullwidth">
                                    <select name="setting_{{ key }}">
                                        {% for option in value['options']%}
                                            <option value="{{option}}" {{ 'selected' if actor.get_setting(key) == option else '' }}>{{option}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="column is-4">
                    <label class="label is-small">Registers Access</label>
                    {% for reg in settings['registers'] %}
                        <div class="field">
                            <label class="label is-small mb-1">{{ reg }}</label>
                            <div class="select is-fullwidth">
                                <select name="register_{{reg}}">
                                    <option value=""></option>
                                    <option value="owner" {{ 'selected' if settings['registers'][reg].endswith('owner') }}>Owner</option>
                                    <option value="editor" {{ 'selected' if settings['registers'][reg].endswith('editor') }}>Editor</option>
                                    <option value="viewer" {{ 'selected' if settings['registers'][reg].endswith('viewer') }}>Viewer</option>
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="column is-5">
            <div class="field">
                <label class="label is-small">Assign Targets</label>
                {% include 'forms/select_targets.html' %}
            </div>
        </div>
    </div>
</form>
