<div class="field is-grouped">
  <div class="control">
    <label class="label">Register</label>
    <div class="select">
      <select>
        {% for register in registers %}
            <option {{ 'selected' if register == record.register.alias else '' }}>{{ register }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="control">
    <label class="label">Flow</label>
    <div class="select">
      <select>
        <option {{ 'selected' if record.flow.value == 'inbound' else '' }} value="inbound">Inbound</option>
        <option {{ 'selected' if record.flow.value == 'outbound' else '' }} value="outbound">Outbound</option>
        <option {{ 'selected' if record.flow.value == 'internal_cr' else '' }} value="internal_cr">Internal cr</option>
        <option {{ 'selected' if record.flow.value == 'internal_cl' else '' }} value="internal_cl">Internal cl</option>
      </select>
    </div>
  </div>
  
  <div>
    <label class="label">Sender</label>
    <div class="control has-icons-left">
      <input class="input is-success" type="text" placeholder="Text input" value="{{record.sender.alias}}">
      <span class="icon is-small is-left">
        <i class="iconify" data-icon="mdi-email"></i>
      </span>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Title" value="{{record.title}}">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <label class="label">Sequence</label>
    <input class="input" type="text" placeholder="1234" value="{{record.sequence}}">
  </div>
  <div class="control">
    <label class="label">Year</label>
    <input class="input" type="text" placeholder="2026" value="{{record.year}}">
  </div>
</div>

<div class="field">
  <label class="label">Comments</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>


<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" onclick="closeModal()">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light" onclick="closeModal()">Cancel</button>
  </div>
</div>
