<th>
  <span class="iconify" data-icon="mdi-{{ record.stage_icon }}"></span>
</th>

<td>
  {% if record.dept %}
    <span class="tag is-bold has-text-black" style="width: 2rem; background-color: {{record.dept.color}};">
      {{ record.dept.alias }}
    </span>
  {% else %}
    <span class="tag is-bold has-text-black" style="width: 2rem;">
    </span>
  {% endif %}
</td>

<td class="has-text-left">
  <span style="white-space: nowrap;">
    {{ record.protocol }}
  </span>

  {% for tag in record.tags %}
    <span class="tag is-small py-0" style="font-size: 0.65rem;">{{ tag.title }}</span>
  {% endfor %}
</td>

<td>
  <span class="is-4 {{ (status.read_status_html if status else 'has-text-weight-bold') if record.flow == 'inbound' else '' }}">
    {{ record.title }}
  </span>
    <!-- targets or sender -->
    {% if record.flow == 'outbound' %}
      <span class="tag sender ml-1">{{ record.sender.alias }}</span>
    {% else %}
      {% for target in record.targets %}
        <span class="tag sender ml-1">{{ target.user.actor.alias }}</span>
      {% endfor %}
    {% endif %}
</td>

<td class="has-text-right" style="position: relative;">
  <span class="behing-buttons">{{ record.date }}</span>
  <div class="action-buttons is-flex is-align-items-center px-6">
    {% include 'record/table/table_row_actions.html' %}
  </div>
</td>
