<!DOCTYPE html>
<html data-theme="{{ theme }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Fresh Sake{% endblock %}</title>
        <link rel="icon" href="/static/icons/sake.svg" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" />
        <script src="{{ url_for('static', path='/js/htmx.min.js') }}"></script>
       <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.4" integrity="sha384-1RwI/nvUSrMRuNj7hX1+27J8XDdCoSLf0EjEyF69nacuWyiJYoQ/j39RT1mSnd2G" crossorigin="anonymous"></script> 
         <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>        

        <link rel="stylesheet" href="{{ url_for('static', path='css/bulma-tooltip.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" />
    </head>
    <body>
        <div id="progress-indicator-screen" class="htmx-indicator">
            <div class="overlay-backdrop"></div>
                <div class="progress-container">
                <progress class="progress is-primary is-small" max="100"></progress>
                <p class="has-text-white has-text-centered">Processing... Please wait.</p>
            </div>
        </div>

        <div hx-ext="ws" ws-connect="/ws/{{sidebar.actor_alias}}">
          <div id="sock_id"></div>
        </div>

        <nav class="navbar is-hidden-desktop">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <img class="logo" src="{{ url_for('static', path='icons/sake_long.svg') }}" alt="logo" />
                </div>
                <div class="navbar-burger" id="navbar-burger">
                </div>
            </div>
        </nav>

        <div id="body" class="columns is-gapless is-mobile" style="position: relative;">
            <aside class="column is-narrow is-main-sidebar" id="main-sidebar">
                <div id="sidebar" class="sidebar is-flex is-flex-direction-column is-justify-content-space-between">
                    {% include 'sidebar/main.html' %}
                </div>
            </aside>
 
            <main class="column is-main-content" id="main-content" style="position: relative;">
                <div id="main" class="">
                    {% block content %}{% endblock %}
                </div>

                <div id="notification">
                </div>

            </main>
            <progress id="progress-indicator" class="progress htmx-indicator is-small" max="90" style="position: absolute; bottom:0%"></progress>
        </div>
        {% include 'sidepanel.html' %}
        <footer>
        </footer>
        {% include 'modal.html' %}
        <script src="{{ url_for('static', path='js/main.js') }}"></script>
    </body>
</html>
