<!DOCTYPE html>
<html data-theme="{{ theme }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Fresh Sake{% endblock %}</title>
        <link rel="icon" href="/static/icons/sake.svg" />
        

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" />
        <script src="{{ url_for('static', path='/js/htmx.min.js') }}"></script>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>        
        
        <link rel="stylesheet" href="{{ url_for('static', path='css/bulma-tooltip.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/custom.css') }}" />


    </head>
    <body>
        <div id="body" class="columns is-gapless is-mobile" style="position: relative;">
            <aside class="column is-narrow">
                <div id="sidebar" class="sidebar is-flex is-flex-direction-column is-justify-content-space-between">
                    {% include 'sidebar/main.html' %}
                </div>
            </aside>
            <main class="column is-main-content">
                <div id="main" class="">
                    {% block content %}{% endblock %}
                </div>
            </main>
            <progress id="progress-indicator" class="progress htmx-indicator is-small" max="90" style="position: absolute; bottom:0%"></progress>
        </div>

        <footer>
        </footer>
    </body>
</html>
