{% extends "base_without_sidebar.html" %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-third-desktop is-half-tablet">
          <div class="box has-text-centered">
              <img src="{{ url_for('static', path='icons/sake_long.svg') }}">
            <div class="container">
              <a href="{{ auth_url_google }}" class="button is-fullwidth m-2">
                <span class="icon">
                  <img src="{{ url_for('static', path='icons/google.svg') }}" alt="Google Logo">
                </span>
                <span>Sign in with Google</span>
              </a>
              
              <a href="{{ auth_url }}" class="button is-fullwidth m-2">
                <span class="icon">
                  <img src="{{ url_for('static', path='icons/synology.svg') }}" alt="Google Logo">
                </span>
                <span>Sign in with Synology</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
